@model Full_projeject.Models.SignupModel

@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="limiter">
        <div class="container-login100">
            <a href="javascript:history.back()" class="linkBack">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none" d="M18.271,9.212H3.615l4.184-4.184c0.306-0.306,0.306-0.801,0-1.107c-0.306-0.306-0.801-0.306-1.107,0
					L1.21,9.403C1.194,9.417,1.174,9.421,1.158,9.437c-0.181,0.181-0.242,0.425-0.209,0.66c0.005,0.038,0.012,0.071,0.022,0.109
					c0.028,0.098,0.075,0.188,0.142,0.271c0.021,0.026,0.021,0.061,0.045,0.085c0.015,0.016,0.034,0.02,0.05,0.033l5.484,5.483
					c0.306,0.307,0.801,0.307,1.107,0c0.306-0.305,0.306-0.801,0-1.105l-4.184-4.185h14.656c0.436,0,0.788-0.353,0.788-0.788
					S18.707,9.212,18.271,9.212z"></path>
                </svg>
            </a>

            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(https://images.pexels.com/photos/4974912/pexels-photo-4974912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
                    <span class="login100-form-title-1">
                        Sign Up
                    </span>
                </div>

                <form class="login100-form validate-form" method="post">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Name is required">
                        <span class="label-input100">Name</span>
                        <input class="input100" type="text" id="name" name="name" placeholder="Enter full name" required />
                        <span class="focus-input100"></span>
                    </div>



                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                        <span class="label-input100">E-mail</span>
                        <input class="input100" type="text" id="email" name="Email" placeholder="Enter username" required />
                        <span class="focus-input100" id="emailerr"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-26" data-validate="Phone number is required">
                        <span class="label-input100">Phone number</span>
                        <input class="input100" type="tel" id="phone" name="PhoneNumber" placeholder="Enter phone number" required />
                    </div>



                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" id="Pass" name="Password" placeholder="Enter password" required />
                        <span class="focus-input100" id="Error"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Confirmation is required">
                        <span class="label-input100">Confirm Password</span>
                        <input class="input100" type="password" id="Pass" name="" placeholder="Confirm password" required />
                        <span class="focus-input100"></span>
                    </div>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(modelState => modelState.Errors))
                                {
                                    <li class="">@error.ErrorMessage.ToString()</li>
                                }
                            </ul>
                        </div>
                    }




                    <div class="container-login100-form-btn ">
                        <input class="login100-form-btn" type="submit" value="Sign Up" />
                    </div>



                </form>
            </div>
        </div>
    </div>


    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="vendor/select2/select2.min.js"></script>

    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>

    <script src="vendor/countdowntime/countdowntime.js"></script>
  
    <script type="text/javascript">
        document.getElementById('your_password_field_id').addEventListener('blur', function () {
            let passwordField = document.getElementById('Pass');
            let errorMessage = document.getElementById('Error');

            if (passwordField.value.length <= 6) {
                errorMessage.textContent = "Password must be longer than 6 characters.";
            } else {
                errorMessage.textContent = "";
            }
        });

        document.getElementById('your_password_field_id').addEventListener('blur', function () {
            let passwordField = document.getElementById('email');
            let errorMessage = document.getElementById('emailerr');

            if (passwordField.value.length <= 6) {
                errorMessage.textContent = "Password must be longer than 6 characters.";
            } else {
                errorMessage.textContent = "";
            }
        });
    </script>


</body>
</html>